{
    "properties": {
        "identity": "platform.actuator",
        "model": "~/volttron/eplus/SEB_September_8.idf",
        "weather": "~/volttron/eplus/USA_WA_Pasco-Tri.Cities.AP.727845_TMY3.epw",
        "bcvtb_home": "~/volttron/bcvtb"
    },
    "cosimulation_advance": "applications/ilc/advance",
    "inputs" : {
 		"CLGTEMPSETPOINT ZONE-VAV-102" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-102",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV102",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-118" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-118",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV118",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-119" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-119",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV119",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-120" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-120",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV120",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-123A" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-123A",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV123A",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-123B" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-123B",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV123B",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-127A" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-127A",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV127A",
			"field" : "CoolingSetpointTemperature",
			"default": 23.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-127B" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-127B",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV127B",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-129" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-129",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV129",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-131" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-131",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV131",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-133" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-133",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV133",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-136" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-136",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV136",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-142" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-142",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV142",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-143" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-143",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV143",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-150" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-150",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAV150",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-Corridor" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-Corridor",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAVCorridor",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		},
		"CLGTEMPSETPOINT ZONE-VAV-121" : {
			"name" : "CLGTEMPSETPOINT ZONE-VAV-RESTROOM",
			"type" : "schedule",
			"topic" : "PNNL/SEB/AHU1/VAVRestroom",
			"field" : "CoolingSetpointTemperature",
			"default": 21.11
		}
    },
    "outputs" : {

		"ZONE-VAV-Corridor VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-Corridor VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAVCorridor/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},

		"ZONE-VAV-102 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-102 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV102/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-118 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-118 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV118/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-119 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-119 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV119/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-120 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-120 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV120/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123A VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-123A VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123B VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-123B VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123B/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127A VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-127A VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127A/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127B VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-127B VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127B/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-129 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-129 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV129/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-131 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-131 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV131/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-133 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-133 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV133/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},

		"ZONE-VAV-136 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-136 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV136/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-142 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-142 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV142/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-143 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-143 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV143/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-150 VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-VAV-150 VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAV150/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-Restroom VAV BOX REHEAT COILDEMAND System Node Mass Flow Rate" : {
			"name" : "ZONE-Restroom VAV BOX REHEAT COILDEMAND OUTLET NODE",
			"type" : "System Node Mass Flow Rate",
			"topic" : "devices/PNNL/SEB/AHU1/VAVRESTROOM/all",
			"field" : "WaterFlowRate",
			"meta" : {"units": "killogrampersecond", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-Corridor VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-Corridor VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAVCorridor/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-102 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-102 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV102/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-118 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-118 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV118/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-119 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-119 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV119/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-120 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-120 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV120/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123A VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-123A VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123B VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-123B VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123B/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127A VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-127A VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127A/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127B VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-127B VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127B/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-129 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-129 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV129/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-131 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-131 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV131/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-133 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-133 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV133/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-136 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-136 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV136/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-142 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-142 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV142/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-143 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-143 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV143/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-150 VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-VAV-150 VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAV150/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-Restroom VAV BOX COMPONENT Zone Air Terminal VAV Damper Position" : {
			"name" : "ZONE-Restroom VAV BOX COMPONENT",
			"type" : "Zone Air Terminal VAV Damper Position",
			"topic" : "devices/PNNL/SEB/AHU1/VAVRESTROOM/all",
			"field" : "VAVDamperPosition",
			"meta" : {"units": "percentage", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-Corridor Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-Corridor",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAVCorridor/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-102 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-102",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV102/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-118 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-118",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV118/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-119 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-119",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV119/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"},
                        "publish_last": true
		},
		"ZONE-VAV-120 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-120",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV120/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123A Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-123A",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123B Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-123B",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123B/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127A Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-127A",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127A/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127B Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-127B",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127B/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-129 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-129",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV129/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-131 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-131",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV131/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-133 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-133",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV133/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-136 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-136",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV136/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-142 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-142",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV142/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-143 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-143",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV143/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-150 Zone Mean Air Temperature" : {
			"name" : "ZONE-VAV-150",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV150/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-Restroom Zone Mean Air Temperature" : {
			"name" : "ZONE-Restroom",
			"type" : "Zone Mean Air Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAVRESTROOM/all",
			"field" : "ZoneTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-Corridor Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-Corridor",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAVCorridor/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-102 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-102",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV102/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-118 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-118",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV118/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-119 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-119",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV119/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-120 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-120",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV120/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123A Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-123A",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123A Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-123A",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123B Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-123B",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123B/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127A Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-127A",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127A/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127B Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-127B",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127B/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-129 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-129",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV129/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-131 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-131",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV131/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-133 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-133",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV133/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-136 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-136",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV136/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-142 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-142",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV142/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-143 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-143",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV143/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-150 Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-VAV-150",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAV150/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-Restroom Zone Thermostat Heating Setpoint Temperature" : {
			"name" : "ZONE-Restroom",
			"type" : "Zone Thermostat Heating Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/VAVRESTROOM/all",
			"field" : "HeatingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-Corridor Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-Corridor",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAVCorridorCoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-102 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-102",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV102CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-118 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-118",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV118CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-119 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-119",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV119CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-120 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-120",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV120CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},

		"ZONE-VAV-123A Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-123A",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV123ACoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-123B Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-123B",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV123BCoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127A Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-127A",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV127ACoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-127B Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-127B",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV127BCoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-129 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-129",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV129CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-131 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-131",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV131CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-133 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-133",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV133CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-136 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-136",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV136CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-142 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-142",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV142CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-143 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-143",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV143CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-VAV-150 Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-VAV-150",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAV150CoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ZONE-Restroom Zone Thermostat Cooling Setpoint Temperature" : {
			"name" : "ZONE-Restroom",
			"type" : "Zone Thermostat Cooling Setpoint Temperature",
			"topic" : "devices/PNNL/SEB/AHU1/all",
			"field" : "VAVRestroomCoolingSetpointTemperature",
			"meta" : {"units": "degreesCentigrade", "tz": "US/Pacific", "type": "float"}
		},
		"ALWAYS ON Schedule Value VAVCorridor" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAVCorridor/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV102/" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV102/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV118" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV118/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV119" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV119/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV120" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV120/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV123A" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123A/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV123B" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV123B/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV127A" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127A/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV127B" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV127B/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},	
		"ALWAYS ON Schedule Value VAV129" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV129/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},	
		"ALWAYS ON Schedule Value VAV131" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV131/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},	
		"ALWAYS ON Schedule Value VAV136" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV136/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},	
		"ALWAYS ON Schedule Value VAV133" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV133/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},		
		"ALWAYS ON Schedule Value VAV142" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV142/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},	
		"ALWAYS ON Schedule Value VAV143" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV143/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAV150" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAV150/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"ALWAYS ON Schedule Value VAVRESTROOM" : {
			"name" : "ALWAYS ON",
			"type" : "Schedule Value",
			"topic" : "devices/PNNL/SEB/AHU1/VAVRESTROOM/all",
			"field" : "ScheduleValue",
			"meta" : {"units": "None", "tz": "US/Pacific", "type": "boolean"}
		},
		"EMS Fan Chiller Power" : {
			"name" : "EMS",
			"type" : "Fan Chiller Power",
			"topic" : "devices/PNNL/SEB/AHU1/WHOLEBUILDING/all",
			"field" : "TotalElectricDemandPower",
			"meta" : {"units": "WATTS", "tz": "US/Pacific", "type": "float"}
		},
		"currentMonthV" : {
			"name" : "EMS",
			"type" : "currentMonthV"
		},
		"currentDayOfMonthV" : {
			"name" : "EMS",
			"type" : "currentDayOfMonthV"
		},
		"currentHourV" : {
			"name" : "EMS",
			"type" : "currentHourV"
		},
		"currentMinuteV" : {
			"name" : "EMS",
			"type" : "currentMinuteV"
		}
    }

}